.quotes {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  margin: 200px 0;
}

.quotes_active .quote {
  opacity: 1;
  transition: 0.5s;
  transition-delay: calc(var(--quote-index) * 1s);
  animation: bubble 0.5s ease-in-out calc(var(--quote-index) * 1.5s) 1 forwards;
}

@keyframes bubble {
  0% {
    transform: scale(0);
  }

  33% {
    transform: scale(1.05);
  }

  66% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}

.quote {
  background: var(--black);
  color: white;
  font-family: Fog;
  font-style: italic;
  padding: 24px 48px;
  border-radius: 8px 24px;
  opacity: 0;
  transition: 0.5s;
  transform: scale(0);
  transition-delay: calc(var(--quote-index) * 1s);
}

.quote:nth-child(even) {
  border-radius: 24px 8px;
}

.quoteContent {
  position: relative;
  font-size: 36px;
  font-weight: bold;
  margin: 50px 36px;
  text-align: center;
}

.quoteDecorator {
  position: absolute;
  font-size: 20px;
}

.quoteLeft {
  left: 0;
  top: -30px;
}

.quoteRight {
  right: 0;
  bottom: -30px;
}

.quoteAuthor {
  font-size: 16px;
  text-align: right;
}
