.wrapper {
  position: absolute;
  bottom: 30px;
  right: 150px;
  font-family: Fog;
  font-weight: 500;
  font-size: 25px;
  line-height: 32px;
  color: #ffffff;
  display: flex;
  gap: 25px;
}

.nav {
  min-width: 25px;
  max-width: 25px;
  display: flex;
  justify-content: center;
  transition: 1s;
  transition-timing-function: ease;
  transition-delay: 0.5s;
}

.nav_active {
  width: 130px;
  margin-left: 10px;
  margin-right: 10px;
  transition: 1s;
  transition-delay: 0.5s;
}

.number {
  width: max-content;
  margin: auto;
  position: relative;
  font-family: Fog;
  font-style: normal;
  font-weight: light;
  text-align: center;
  line-height: 64px;
  transition-timing-function: ease;
  transition-property: font-size, color;
  transition-duration: 1s, 1s;
  transition-delay: 0.5s, 0s;
  z-index: 10;
  cursor: pointer;
}

.number:hover {
  transition: 1s;
  transition-delay: 0s;
  color: #bd8f75;
}

.nav_active .number:hover {
  transition: 1s;
  transition-delay: 0s;
  color: inherit;
}

.colored .nav_active .number {
  font-weight: 500;
  font-size: 50px;
  line-height: 64px;
  color: #bd8f75;
  transition: 1s;
  transition-timing-function: ease;
  transition-delay: 0.5s;
}

.nav_active .number {
  font-weight: 500;
  font-size: 50px;
  line-height: 64px;
  transition: 1s;
  transition-timing-function: ease;
  transition-delay: 0.5s;
}

.name {
  width: max-content;
  text-align: center;
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  transform: translateY(20px);
  opacity: 0;
  transition: 0.5s;
  transition-timing-function: ease;
}

.colored .nav_active .name {
  opacity: 1;
  color: #bd8f75;
  transform: translateY(0px);
  transition: 0.5s;
  transition-timing-function: ease;
  transition-property: transform, opacity, color;
  transition-delay: 1.5s, 1.5s, 0s;
}

.nav_active .name {
  opacity: 1;
  transform: translateY(0px);
  transition: 0.5s;
  transition-timing-function: ease;
  transition-delay: 1.5s;
}

@media screen and (max-width: 1360px) {
  .wrapper {
    transform: scale(0.9);
    right: 100px;
  }
}

@media screen and (max-width: 1260px) {
  .wrapper {
    transform: scale(0.8);
    right: 50px;
  }
}
