.wrapper {
  overflow-y: visible;
  background: #2a313c;
}

.decorator {
  filter: blur(100px) opacity(var(--opacity));
}

.link {
  background: #bd8f75;
  color: #2a313c;
  border: 2px solid #bd8f75;
}

.link:hover {
  background: #2a313c;
  color: #bd8f75;
}

.inner {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .wrapper {
    height: 650px;
    overflow: hidden;
  }

  .heading {
    margin-top: 100px;
  }

  .inner {
    width: 768px;
  }

  .links {
    transform: unset;
    gap: 70px;
  }

  .link {
    width: 75px;
    height: 75px;
    font-size: 36px;
    border-radius: 30px 8px;
  }

  .link:nth-child(even) {
    border-radius: 8px 30px;
  }

  .images {
    width: 768px;
    transform: unset;
  }

  .linkHint {
    font-size: 11px;
    line-height: 22px;
  }
}

@media screen and (max-width: 820px) {
  .inner {
    transform: scale(0.85);
  }
}

@media screen and (max-width: 728px) {
  .wrapper {
    height: 450px;
    overflow: hidden;
  }

  .inner {
    width: 312px;
    transform: unset;
  }

  .links {
    gap: 24px;
  }

  .link {
    width: 35px;
    height: 35px;
    font-size: 18px;
    border-radius: 15px 4px;
  }

  .link:nth-child(even) {
    border-radius: 4px 15px;
  }

  .heading {
    font-size: 26px;
    line-height: 33px;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .images {
    position: relative;
    width: 312px;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 150px;
    row-gap: 20px;
  }

  .image {
    width: 80px;
    height: 80px;
  }

  .violin {
    position: absolute;
    width: 53px;
    height: 141px;
    top: calc(50% - 70px);
    left: calc(50% - 26px);
  }

  .linkHint {
    font-size: 9px;
    line-height: 18px;
    bottom: -30px;
  }
}
