.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: Fog;
  background: #2a313c;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.5s;
  overflow: hidden;
}

.animator {
  position: relative;
  width: 100%;
  height: 100%;
  background: url('./../../../public/backgroundFilter.png'), rgba(42, 49, 60, 0);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 90px;
}

.inactive .animator {
  background: url('./../../../public/backgroundFilter.png'), rgba(42, 49, 60, 1);
  transition: 0.5s;
}

.inactive .decorator {
  transition: 0.5s;
  transition-delay: calc(var(--delay) * 1s);
  opacity: 0;
}

.decorator {
  position: absolute;
  top: var(--top);
  left: var(--left);
  bottom: var(--bottom);
  right: var(--right);
  width: var(--width);
  height: var(--height);
  background-color: var(--color);
  border-radius: 50%;
  filter: blur(150px) opacity(var(--opacity));
  transition: 0.5s;
  transition-delay: calc(var(--delay) * 1s);
  opacity: 1;
}

.block {
  position: relative;
  width: 1400px;
  margin: auto;
}

.blockName {
  transition: 1s;
  transform: translateY(0px);
  opacity: 1;
  font-weight: 500;
  font-size: 70px;
  line-height: 89px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 120px;
}

.inactive .blockName {
  transition: 1s;
  transform: translateY(-50px);
  opacity: 0;
}

.content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 120px;
}

.info {
  width: 380px;
}

.info .elem {
  margin-bottom: 60px;
  transition: 0.5s;
  transition-delay: var(--delay);
  transform: translateX(0px);
  opacity: 1;
}

.inactive .info .elem {
  transition: 0.5s;
  transition-delay: var(--delay);
  transform: translateX(var(--translation));
  opacity: 0;
}

.info .elem:last-child {
  margin-bottom: 0px;
}

.elemName {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 15px;
}

.elemContent {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}

.image {
  position: relative;
  width: 400px;
  height: 500px;
  opacity: 0;
  transform: scale(1);
  animation-name: bounce;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.inactive .image {
  transform: scale(0);
  opacity: 0;
  animation-name: bounce-reverse;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.entering .image {
  transform: scale(0);
  opacity: 0;
  animation-name: bounce-fake;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes bounce-fake {
  from {
    opacity: 0;
  }

  to {
    opacity: 0;
  }
}

@keyframes bounce {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  33% {
    transform: scale(1.05);
    opacity: 1;
  }

  66% {
    transform: scale(0.95);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes bounce-reverse {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  33% {
    transform: scale(0.95);
    opacity: 1;
  }

  66% {
    transform: scale(1.05);
    opacity: 1;
  }

  100% {
    transform: scale(0);
    opacity: 1;
  }
}

@media screen and (max-width: 1560px) {
  .blockName {
    font-size: 60px;
    line-height: 80px;
    margin-bottom: 100px;
  }

  .content {
    transform: scale(0.9);
  }
}

@media screen and (max-width: 1460px) {
  .blockName {
    font-size: 50px;
    line-height: 70px;
    margin-bottom: 70px;
  }

  .block {
    width: 100%;
  }

  .content {
    transform: scale(0.8);
  }
}

@media screen and (max-width: 1360px) {
  .blockName {
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 50px;
  }

  .content {
    transform: scale(0.7);
  }
}

@media screen and (max-width: 1260px) {
  .blockName {
    margin-bottom: 20px;
  }

  .content {
    transform: scale(0.65);
    gap: 60px;
  }
}

@media screen and (max-width: 1200px) and (max-height: 700px) {
  .blockName {
    margin-bottom: -30px;
  }
}
