html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #2a313c;
}

a {
  color: inherit;
  text-decoration: none;
}

span {
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  letter-spacing: inherit;
  color: inherit;
}

* {
  box-sizing: border-box;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --black: #242424;
  --light: #fff7ed;
}

.appScreen {
  position: relative;
  width: 100%;
  height: 100%;
}

*::selection {
  background-color: #bd8f75;
  color: #2a313c;
}

@font-face {
  font-family: Fog;
  src: url('./fonts/FoglihtenNo06/FoglihtenNo06_076.otf') format('opentype');
}

@font-face {
  font-family: Gilroy;
  src: url('./fonts/Gilroy/Gilroy-Light.otf') format('opentype');
}
